{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>上海大学药物重定位</title>



    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bk.css' %}">

    <style>
        .logo {
          float: left;
          height: 50px;
          padding: 5px 10px;
          font-size: 18px;
          line-height: 20px;
        }
    </style>

</head>

<body>
 <div class="king-layout-container" id="layoutPanel">
    <!-- header -->



<nav class="navbar navbar-default"  role="navigation">
  <div class="container-fluid">
      <a class="logo" href="#">
            <img alt="Brand" width="40" height="40" src="{% static 'img/logo.png' %}">
          </a>

    <div class="navbar-header">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">药物重定向</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">主页</a></li>

        <li class="dropdown">

           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              项目
              <b class="caret"></b>
           </a>
            <ul class="dropdown-menu">
                 {% for key,value in dic_project.items %}
                <li><a href="http://127.0.0.1:8000/project?proj={{ key }}">{{key}}</a></li>
                 <li role="separator" class="divider"></li>
                 {% endfor %}
            </ul>

        </li>
                  <li class="dropdown">

           <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              实例
              <b class="caret"></b>
           </a>
            <ul class="dropdown-menu">
                 {% for key,value in dic_project.items %}

                 <li role="separator" class="divider"></li>
                <li class="dropdown">
                    <a href="http://127.0.0.1:8000/project?proj={{ key }}" class="dropdown-toggle" data-toggle="dropdown">
                        {{key}}
                    <b class="caret"></b>
                       <ul class="droppdown-menu">
                            {% for i in value %}
                           <li><a href='http://127.0.0.1:8000/empfile?proj={{ key }}&exmp={{ i }}'>{{i}}</a></li>
                            {%endfor%}
                       </ul>

           </a>
                </li>
                 {% endfor %}
            </ul>
        </li>

      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://127.0.0.1:8000/about/">关于我们</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">请登录 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">登录</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">注册</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>



    <!--导航-->



</div>
</body>

