{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>学生系统</title>



    <link rel="stylesheet" href="{% static 'plugins/bootstrap-3.4.1/css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'plugins/font-awesome-4.7.0/css/font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/metisMenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/bk.css' %}">

    <style>
        .logo {
          float: left;
          height: 50px;
          padding: 5px 10px;
          font-size: 18px;
          line-height: 20px;
        }
    </style>

</head>

<body>
 <div class="king-layout-container" id="layoutPanel">
    <!-- header -->



<nav class="navbar navbar-default"  role="navigation">
  <div class="container-fluid">
      <a class="logo" href="#">
            <img alt="Brand" width="40" height="40" src="{% static 'img/logo.png' %}">
          </a>

    <div class="navbar-header">
      <a class="navbar-brand" href="http://127.0.0.1:8000/">学生选课系统</a>
    </div>


    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="">主页</a></li>



      </ul>

      <ul class="nav navbar-nav navbar-right">
         {% if request.session.is_login %}
        <li><a href="#" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" rel="external nofollow" >当前在线：{{ request.session.user_name }}</a></li>
        <li><a href="/logout/" rel="external nofollow" >登出</a></li>
        {% else %}
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">请登录 <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="#">登录</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="#">注册</a></li>
          </ul>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



    <!--导航-->



    <!--  -->
    <div class="king-layout-main">
        <div class="king-breadcrumb">
            <span class="king-breadcrumb-link">学生选课系统</span>
        </div>

        <div class="king-layout-content king-layout-has-slider king-flexible-setting king-flex-auto king-content-scroll">

            <div class="king-layout-slider">
                <ul class="king-menu-inline">
                      <div>
                        <p style="margin-left: 20px;">功能列表</p>
                      </div>
                        <li class="king-menu-submenu show-items">
                        <div class="king-menu-submenu-title" >
                            <span  class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"><a style="margin-left: 20px;" href="http://127.0.0.1:8000/student/select">选课</a></span>
                        </div>
                      </li>
                     <li class="king-menu-submenu show-items">
                        <div class="king-menu-submenu-title" >
                            <span  class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"><a style="margin-left: 20px;" href="http://127.0.0.1:8000/student/delete">退课</a></span>
                        </div>
                      </li>
                      <li class="king-menu-submenu show-items">
                        <div class="king-menu-submenu-title" >
                            <span  class="glyphicon glyphicon-th-large submenu-icon" aria-hidden="true"><a style="margin-left: 20px;" href="http://127.0.0.1:8000/student/course">已修课程</a></span>
                        </div>
                      </li>
                </ul>
            </div>
            <!--以上为左列-->


            <div class="king-slider-content king-flex-y">

                <!--右侧块内-->
                <div class="panel panel-default">
                  <div class="panel-heading">可选课程</div>
                  <div class="panel-body">
                        <div class="table-responsive">
                          <table class="table">
                            <caption class="text-center"><h3>已选课程</h3></caption>
                            <thead>
                              <tr>
                                <th>编号</th>
                                <th>学期</th>
                                <th>课程</th>
                                <th>教师</th>
                                <th>上课时间</th>
                              </tr>
                            </thead>
                            <tbody>



                            {% for slcrs in SelCrs_List %}
                              <tr>
                                <td>{{slcrs.id}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Term}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Course}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Teacher.Tch_Name}}</td>
                                <td>{{slcrs.SelCrs_Course.Ocrs_ClassTime}}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                  </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">成绩单</h3>
                  </div>
                    <div>
                          <div class="table-responsive">
                          <table class="table">
                            <caption class="text-center"><h3>成绩单</h3></caption>
                            <thead>
                              <tr>
                                <th>课程编号</th>
                                <th>课程名</th>
                                <th>学分</th>
                                <th>学期</th>
                                <th>成绩</th>
                              </tr>
                            </thead>
                            <tbody>



                            {% for slcrs in SelCrs_List %}
                              <tr>
                                <td>{{slcrs.SelCrs_Course.OCrs_Course.Crs_ID}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Course.Crs_Name}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Course.Crs_Credit}}</td>
                                <td>{{slcrs.SelCrs_Course.OCrs_Course.Crs_Period}}</td>
                                <td>{{slcrs.SelCrs_Grade}}</td>
                              </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                        </div>
                    </div>
                </div>

                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">成绩分布图</h3>
                  </div>
                    <div>
                     <div id="container" style="height : 500px"> </div>
                        <script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'echart/echarts.min.js' %}"></script>
                          <script type="text/javascript">
                            var dom = document.getElementById('container');
                            var myChart = echarts.init(dom, null, {
                              renderer: 'canvas',
                              useDirtyRect: false
                            });
                            var app = {};
                            console.log({{SelCrs_Source}})
                            var option;
                            option = {
                          dataset: {{dataset | safe }},
                          tooltip:{},
                          grid: { containLabel: true },
                          xAxis: { name: 'Score' },
                          yAxis: { type: 'category' },
                          series: [
                            {
                              type: 'bar',
                              encode: {

                                x: 'Score',

                                y: 'Class'
                              }
                            }
                          ]
                        };
                            if (option && typeof option === 'object') {
                              myChart.setOption(option);
                            }
                            window.addEventListener('resize', myChart.resize);
                          </script>
                    </div>
                </div>


                <div class="king-layout-footer"> ... </div>
            </div>
    <!-- footer -->
        </div>
    </div>
 </div>
</body>

<script src="{% static 'js/jquery-3.6.3.min.js' %}"></script>
<script src="{% static 'js/metisMenu.js' %}"></script>
<script src="{% static 'plugins/bootstrap-3.4.1/js/bootstrap.min.js' %}"></script>
<script type="text/javascript">

</script>

<!--JS-->
<script type="text/javascript">
    //layoutPanel_js_start
    $(".king-menu-submenu-title").click(function(){
        $(this).parent().toggleClass("show-items");
        $(this).next().slideToggle();
    })

    $(".king-menu-item").click(function(){
        $(".king-menu-item").removeClass("king-menu-item-selected");
        $(this).addClass("king-menu-item-selected");
    })
    //layoutPanel_js_end
</script>


</html>
